<div id="about">
    <div class="titulos">
        <h1>{{title}}</h1>
        <h4>{{subtitle}}</h4>
        <p>{{email}}</p>
    </div>
    <article class="article">
        <h5>Sobre Mi</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ex et.
            Accusamus, dolor eum. Eaque dolor, eos
            nemo culpa soluta fuga porro quos, et nihil quibusdam vel nobis iusto asperiores?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi consequatur beatae et eaque perspiciatis
            quibusdam magni laudantium libero possimus numquam exercitationem saepe deserunt porro, soluta nam ut,
            quidem
            nihil tenetur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sed similique laborum quasi,
            magnam
            deleniti fugiat voluptates architecto accusamus accusantium. Rem laboriosam labore ad esse incidunt enim
            sapiente. Dolor, natus.
        </p>
    </article>
</div>