#about{
    width: 70%;
    margin: 0px auto;
    margin-top: 10px;
}
#about h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-bottom: 1px solid gray;
}
#about h4{
    margin: 0px;
    text-align: center;
    margin-top: -20px;
    color: gray;

}
.titulos p{
    text-align: center;
    color: gray;
}

.article h5{
    padding-top: 40px;
    font-size: 35px;
    border-bottom: 1px solid gray;
    font-weight: bold;
}
.article p{
    text-align: justify;
    padding-top: 20px;
}
