<header id="header">
    <ul>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]='["active"]'>Contacto</a></li>
        <li><a [routerLink]="['/creaproyecto']" [routerLinkActive]='["active"]'>Crear Proyecto</a></li>
        <li class="logo"><a id="logo" href="">SR</a></li>
        <li><a [routerLink]="['/sobremi']" [routerLinkActive]='["active"]'>Sobre mi</a></li>
        <li><a [routerLink]="['/proyectos']" [routerLinkActive]='["active"]'>Proyectos</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>
<footer>
    Portafolio de Proyectos Sergio Redondo Aycardi
</footer>